@import '~@/styles/variable.less';

tr.drop-over-downward td {
  border-bottom: 2px dashed @indigo-500;
}

tr.drop-over-upward td {
  border-top: 2px dashed @indigo-500;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
